

body{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
#square{
  box-sizing: border-box;
  border: solid;
  max-width: 192px;
  min-width: 10px;
  max-height: 192px;
  min-height: 10px;
  flex: 1 0 auto;
}

#clear-btn{
  height: 50px;
  margin-right: 20px;
}

.square-container{
  border: none;
  display: flex;
  align-content: stretch;
  justify-content: center;
  max-width: 960px;
  max-height: 960px;
  min-width: 960px;
  min-height: 960px;
  flex-wrap: wrap;


}
